@use './partials/variables' as *;

$fa-font-path: "../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body{
    background-color: black;
}

.my-image{
    width: 250px;
}

h4{
    margin: 4px;
}

.logos{
    width: 80px;
    height: 80px;
    object-fit: contain;
}